<link rel="stylesheet" href="sobre-nosotros.component.css">


<section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro producto</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="assets/imagenes/Tecno.png" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>venta de suministros para tu negocio </h3>
            <p>Tenemos todo lo que requiera para su negocio, contamos con un amplio inventario ya que somos lideres en ventas de respuestos, contamos con la mejor calidad en nuestros productos.

            </p>
            <h3><span>2</span>Creamos tu pagina a tu medida</h3>
            <p>Tenemos amplio conocicimiento en creacion de paginas web, manejamos difentes herramientas para brindar el mejor servicio en la cracion de la pagina para su negocio, utilizamos herramientas como html, css y javaScript.
                .</p>
        </div>
    </div>
</section>
