<div class="page">
    <ng-container *ngIf="cart && cart.length>0; then cartList; else noList"></ng-container>
    <ng-template #cartList>
        <h2 class="title-cart">Mi carrito</h2>
        <div class="cards">
           
                <div class="card" *ngFor="let product of cart">
                    <div class="card-img">
                        <a routerLink="/products/{{ product._id }}">
                            <img class="card-img" [src]="product.urlImage" [alt]="product.name" />
                        </a>
                    </div>
                    <div class="card-info">
                        <p class="text-title">{{ product.name }}</p>
                        <p class="text-body">{{ product.description }}</p>
                    </div>
                    <div class="card-footer">
                        <span class="text-title">{{ product.price | currency }}</span>
                        <div class="menuItem-price flex">
                            <div class="card-quantity">
                                <button class="card-button" (click)="subtractQuantity(product)">-</button>
                                <span class="box-quantity">{{product.quantity}}</span>
                                <button class="card-button" (click)="addQuantity(product)">+</button>
                            </div>
                        </div>
                        <div class="menuItem-price flex">
                            <button class="card-button" (click)="removeToCart(product._id)">
                                eliminar
                            </button>
                        </div>
                   
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #noList>No hay productos</ng-template>
</div>