.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Passion One', cursive;
  font-size: 2.4rem;
}

.menu-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  flex-direction: column;
  top: 2rem;
}

.menu-container:hover .menu {
  display: block;
}

ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  color: rgb(236, 68, 68);
  padding: 0.6rem 1.2rem;
  display: block;
  text-decoration: none;
}

a:hover {
  background-color: rgb(236, 68, 68);
  color: #fff;
}

a span {
  background-color: rgb(236, 68, 68);
  border-radius: 5rem;
  color: #fff;
  font-size: .9rem;
  padding: .1rem .45rem;
}

.cart-page:hover span {
  background-color: #fff;
  color: rgb(236, 68, 68);
}
