<form
  class="form form-product"
[formGroup]="resenaForm"
(ngSubmit)="createOrUpdateResena()"
  autocomplete="off"
>
  <h2>Reseñas</h2>
  <p>Registra nuevas reseñas. Diligencia cada uno de los campos según sean requeridos.</p>
  <div class="field">
    <label for="name">Nombre*</label>
    <input
      id="name"
      class="input-field"
      type="text"
      formControlName="name"
      placeholder="Nombre del Producto"
    />
  </div>
  <div class="field">
    <label for="description">Descripción</label>
    <textarea
      id="description"
      class="input-field"
      formControlName="description"
      placeholder="Descripción del Producto"
      cols="20"
      rows="5"
    ></textarea>
  </div>
  <div class="field">
    <button
      type="submit"
      [disabled]="resenaForm.invalid"
      >{{ this.selectedResena ? "Editar" : "Crear" }} resena</button>
    
  </div>
</form>

