
<!-- --------------------------- -->

<link rel="stylesheet" href="categories.component.css" />
<div class="category-card">
  <div class="card-header">
    <h1>Categorias</h1>
    <p>
      Registra nuevas categorias. Diligencia cada uno de los campos según sean
      requeridos.
    </p>
    <div class="">  
      <img src="assets/imagenes/Tecno.png" alt="" class="logo" />
    </div>
  </div>
  <div class="card-body">
    <form
      class="form-group"
      [formGroup]="categoryForm"
      (ngSubmit)="createOrUpdateCategory()"
      autocomplete="off"
    >
      <div class="card-body">
        <label for="name">Nombre*</label>
        <input
          id="name"
          class="input-field"
          type="text"
          formControlName="name"
          placeholder="Nombre del Producto"
        />
      </div>
      <div class="card-body">
        <label for="description">Descripción</label>
        <textarea
          id="description"
          class="input-field"
          formControlName="description"
          placeholder="Descripción del Producto"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <div class="card-body">
        <button
          class="category-button"
          type="submit"
          [disabled]="categoryForm.invalid"
        >
          {{ this.selectedCategory ? "Editar" : "Crear" }} Categoria
        </button>
      </div>
    </form>
  </div>
</div>

<!-- -------- lista de productos--- -->

<div class="category-card-list">
  <div class="card-header-list">
    <h2>Lista de productos</h2>
    <div class="card">  
      <img src="assets/imagenes/Tecno.png" alt="" class="logo" />
    </div>
  </div>
  <ng-container
    *ngIf="
      categories && categories.length > 0;
      then categoryList;
      else noCategories
    "
  >
  </ng-container>

  <ng-template #categoryList>
    <div class="card-header-list">
      <h3>Categoria de productos</h3>
    </div>

    <table class="table">
      <thead>
        <th>Nombre</th>
        <th>Description</th>
        <th colspan="2">Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>
            <button class="button" (click)="loadCategory(category)">
              <span class="button-content">Edit </span>
            </button>
          </td>
          <td>
            <button class="button" (click)="deleteCategory(category._id)">
              <span class="button-content">Delete </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #noCategories>
    <h3>No has registdado categorias</h3>
  </ng-template>
</div>