<form
  class="form form-product"
  autocomplete="off"
>
  <h2>Categorias</h2>
  <p>Registra nuevas categorias. Diligencia cada uno de los campos según sean requeridos.</p>
  <div class="field">
    <label for="name">Nombre*</label>
    <input
      id="name"
      class="input-field"
      type="text"
      name="name"
      placeholder="Nombre del Producto"
    />
  </div>
  <div class="field">
    <label for="description">Descripción</label>
    <textarea
      id="description"
      class="input-field"
      name="description"
      placeholder="Descripción del Producto"
      cols="20"
      rows="5"
    ></textarea>
  </div>
  <div class="field">
    <button
      type="submit"
    >Crear Caegoria</button>
  </div>
</form>
