<link rel="stylesheet" href="footer.component.css" />
<footer>
  <div class="contenedor-footer">
    <iframe
      width="1000"
      height="300"
      frameborder="0"
      src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Bogot%C3%A1+(colombia)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    >
    </iframe>

    <div class="content-foo">
      <h4>Telefono</h4>
      <p>+57 3226801175</p>
    </div>
    <div class="content-foo">
      <h4>Email</h4>
      <p>Jezre@example.com</p>
    </div>
    <div class="content-foo">
      <h4>Location</h4>
      <p>Bogota, Colombia</p>
    </div>
  </div>
  <p>©todos los derechos reservados</p>
</footer>