<link rel="stylesheet" href="footer.component.css" />
<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>


<footer class="pie-pagina">
  <div class="grupo-1">
      <div class="box">
          <figure>
              <a href="#">
                <iframe
                width="300"
                height="300"
                frameborder="0"
                src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Bogot%C3%A1+(colombia)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              >
              </iframe>
              </a>
          </figure>
      </div>
      <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
      </div>
      <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
          </div>
      </div>
  </div>
  <div class="grupo-2">
      <small>&copy; 2021 <b>SLee Dw</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>