<!-- ---------- nuevo ----------- -->

<link rel="stylesheet" href="register.component.css">

<div class="register-card">
    <div class="card-header">
      <h2>Registro</h2>
      <div class="card">  
        <img src="assets/imagenes/Tecno.png" alt="" class="logo" />
      </div>
    </div>
    <div class="card-body">
      <form
          class="form-group"
          [formGroup]="registerForm"
          (ngSubmit)="register()"
          autocomplete="off"
      >
        <div class="form-group">
           <label for="nombre">Nombre</label>
          <input
            id="nombre"
            class="input-field"
            type="text"
            formControlName="name"
            placeholder="Ingrese su Nombre"
          />
        </div>
      

        <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              class="input-field"
              type="email"
              formControlName="email"
              placeholder="Ingrese su Email"
            />
        </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              class="input-field"
              type="password"
              formControlName="password"
              placeholder="Ingrese su Password"
            />
          </div>

        <div class="form-group">
          <button
            class="register-button"
            type="submit"
            [disabled]="this.registerForm.invalid"
          >Registrarse</button>
          </div>
      

        <div class="form-group">
          <p>¿No tienes cuenta?</p>
          <p>Ingresa &nbsp; <a routerLink="/auth/login">aquí</a></p>
        </div>
      </form>
    </div>
  </div> 