<!--  ------------------ -->

<link rel="stylesheet" href="home.component.css">
<app-sobre-nosotros></app-sobre-nosotros>
<ng-container *ngIf="products && products.products.length > 0 && products.products; then productList; else noProducts">
</ng-container>

<ng-template #productList>

  <div class="cards">

    <div class="card" *ngFor="let product of products.products">
      <div class="card-image">

        <a routerLink="/products/{{ product._id }}">
          <img [src]="product.urlImage" [alt]="product.name" />
        </a>


      </div>
      <div class="content">
        <div class="card-title">

          {{ product.name }}
        </div>
        <span class="favorite">
          ❤
        </span>
        <div class="card-body">

          {{ product.description }}
        </div>
        <div class="product-item-footer">
          <div class="ranking">

            {{ product.ranking }}
          </div>
        </div>
      </div>
      <div class="footer">
        <span>{{ product.price | currency }}</span>
        <button type="button" (click)="addToCart()">Agregar a carrito</button>
      </div>




    </div>
  </div>


</ng-template>

<ng-template #noProducts>
  <h3>La tienda no posee productos</h3>
</ng-template>


<!-- ---------------- -->

<link rel="stylesheet" href="home.component.css">
<section class="clientes contenedor">
  <ng-container *ngIf="resenas && resenas.length > 0 ; then resenasList; else noResenas">
  </ng-container>

  <ng-template #resenasList>

    <div class="cards2">

      <div class="card2" *ngFor="let resena of resenas">
        <div class="">
          <img class="card2-imge" src="assets/imagenes/face1.jpg" alt="">
        </div>
        <div class="content ">
          <div class="contenido-texto-card2">

            {{ resena.name }}
          </div>
          <span class="favorite">
            ❤
          </span>
          <div class="contenido-texto-card2">

            {{ resena.description }}
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template #noResenas>
    <h3>La tienda no posee reseñas</h3>
  </ng-template>
</section>