.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  padding: 20px;
  width: 94%;
  min-height: 370px;
  border-radius: 20px;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada,
               -5px -5px 6px #f6f6f6;
  transition: 0.4s;
}

.image {
  width: 100%;
}

li a img {
  object-fit: cover;
}

@media screen and (min-width: 568px) {
  .card {
    width: 48%;
  }
  /* Clientes */


.cards2 .card2{
  width: 48%;
}

}
@media screen and (min-width: 768px) {
  .card {
    width: 33%;
  }
  /* Clientes */


.cards2 .card2{
  width: 33%;
}

}
@media screen and (min-width: 992px) {
  .card {
    width: 25%;
  }
   /* Clientes */


.cards2 .card2{
    width: 25%;
}


}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #2e54a7;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3,
            inset -8px -8px 10px #cfcfcf;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
}

.by-name {
  font-weight: 30;
}

/* Clients */

.card2 {
  width: 100%;
    max-width: 378px;
    height: 100px;
    background: #510c62;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    z-index: 1;
}


.card2:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img2 {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card2:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#6c77eb, #c743d3);
  

}

.textBox2 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span2 {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}

