

<!-- ---------- header---------- -->

<link rel="stylesheet" href="./header.component.css" />

<header>
  <div class="container_menu">  
    <img src="assets/imagenes/Tecno.png" alt="" class="logo" />

    <div class="menu">
      <input type="checkbox" id="check_menu" />
      <label for="check_menu" id="label_check">
        <i class="fas fa-bars icon_menu"></i>
      </label>
      <nav>
        <ul>
          <li ><a href="#" id="selected"></a></li>

          <li *ngIf="!user.name" ><a routerLink="/auth/login">Ingresar</a></li>
          
            <a href="#" id="selected"></a>

          <li *ngIf="!user.name">
            <a routerLink="/auth/register">Registro</a>
          </li>
          <li>
            
            <a href="#">Portafolio</a>
            <ul>
              <li ><a routerLink="/accesorios">Accesorios</a></li>
              <li><a routerLink="/servicios">servicios</a></li>
              <li><a routerLink="/repuestos">Repuestos</a></li>
              <li><a routerLink="/parati">Para ti</a></li>
            </ul>
          </li>

          <li *ngIf="user.name">
            <a href="#">trabajo</a>
            <ul>
              <li><a routerLink="/dashboard/products">Products</a></li>
              <li><a routerLink="/dashboard/products/new">New Product</a></li>
              <li><a routerLink="/dashboard/categories">Categories</a></li>
               <li><a routerLink="/dashboard/resenas">resenas</a></li>
               <li><a routerLink="/dashboard/servicios/new">Nuevo Servicio</a></li>
               <li><a routerLink="/dashboard/list-resenas">lista de reseñas</a></li>
               <li><a routerLink="/dashboard/list-categories">lista de categorias</a></li>
            </ul>
          </li>

          <li *ngIf="!user.name">
            <a routerLink="cart">Compras</a>        
          </li>
          <li *ngIf="!user.name">
            <a routerLink="contacto">Contactenos</a>        
          </li>
          <li *ngIf="user.name">
            <button
            type="button"
            (click)="logout()"
          >Salir</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>




  
