

<!-- ---------- header---------- -->

<link rel="stylesheet" href="./header.component.css" />

<header>
  <div class="container_menu">  
    <img src="assets/imagenes/Tecno.png" alt="" class="logo" />

    <div class="menu">
      <input type="checkbox" id="check_menu" />
      <label for="check_menu" id="label_check">
        <i class="fas fa-bars icon_menu"></i>
      </label>
      <nav>
        <ul>
          <li><a href="#" id="selected"></a></li>

          <li><a routerLink="/auth/login">Ingresar</a></li>
          
            <a href="#" id="selected"></a>

          <li>
            <a routerLink="/auth/register">Registro</a>
          </li>
          <li>
            
            <a href="#">Portafolio</a>
            <ul>
              <li><a routerLink="/accesorios">Accesorios</a></li>
              <li><a routerLink="/servicios">servicios</a></li>
              <li><a routerLink="/repuestos">Repuestos</a></li>
              <li><a routerLink="/parati">Para ti</a></li>
            </ul>
          </li>

          <li>
            <a href="#">contactenos</a>
            <ul>
              <li><a href="#">Repuesto Original</a></li>
              <li><a href="#">Repuesto Generico</a></li>
              <li><a href="#">Accesorio</a></li>
            </ul>
          </li>

          <li>
            <a href="#">grupo de trabajo</a>
            <ul>
              <li><a href="#">Luis </a></li>
              <li><a href="#">Jhon Vargas</a></li>
            </ul>          
          </li>
          <li>
            <app-buscador></app-buscador>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>




  
