/* You can add global styles to this file, and also import other style files */
/* .form-auth,
.form-product {
  max-width: 50%;
  border: 1px dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-auth .field,
.form-product .field {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0;
}

.form .input-field {
  padding: 0.4rem;
}
 */

 body {
  background-image: url(assets/imagenes/5026563.jpg);
 }

 .recuadro {
  width: 300px; /* Ancho del recuadro */
  height: 200px; /* Altura del recuadro */
  background-image: url(assets/imagenes/Tecno.png); /* Ruta de la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el recuadro */
  background-position: center; /* Posición de la imagen dentro del recuadro */
  border: 2px solid black; /* Borde del recuadro */
  border-radius: 10px; /* Borde redondeado del recuadro */
}




.page {
  margin: 5rem auto;

  z-index: -1;
}